@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'src/styles/variables';

body {
  margin: 0;
  padding: 10px;
  font-family: 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.color-white {
  color: $color-white;
}

.color-red {
  color: $color-red;
}

.error {
  margin: $spacing-unit-2;
  padding: $spacing-unit-2;
  color: $color-white;
  text-align: center;
  border-radius: 10px;
  background-color: $color-red;
}

